
body {
  margin: 0;
  background-color: #272640;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #43a047;
}

h1 {
  margin-bottom: 0;
}


.galeria-favoritos{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-repeat: no-repeat;
}


.galeria-img{
  border-radius: 5px;
  color: bisque;
}
